<section>

  <div class="buttons-container absolute top-right-30">
    <button (click)="goToFeedback()" class="button btn-blue back-button">Voltar</button>
    <button (click)="goToGraphic()" class="button btn-green">Ver gráfico</button>
  </div>

  <div>
    <h1>ESCOLHA A REFEIÇÃO</h1>
  </div>
  <div class="container">
    <div class="card card-green p-0">
      <button (click)="setMeal('dejejum')" class="button btn-green w-100 h-100">Dejejum</button>
    </div>
    <div class="card card-orange p-0">
      <button (click)="setMeal('almoco')" class="button btn-orange w-100 h-100">Almoço / Janta</button>
    </div>
    <div class="card card-blue p-0">
      <button (click)="setMeal('lanche')" class="button btn-blue w-100 h-100">Lanche</button>
    </div>
  </div>
</section>