<section>

  <button (click)="goToFeedback()" class="button btn-blue absolute">Voltar</button>

  <div>
    <h1>ESCOLHA A REFEIÇÃO</h1>
  </div>
  <div class="container">
    <div class="card card-green p-0">
      <button class="button btn-green w-100 h-100">Dejejum</button>
    </div>
    <div class="card card-orange p-0">
      <button class="button btn-orange w-100 h-100">Almoço / Janta</button>
    </div>
    <div class="card card-blue p-0">
      <button class="button btn-blue w-100 h-100">Lanche</button>
    </div>
  </div>
</section>