<section>
  
  <div class="title">
    <h1>{{ store.refeicao }}</h1>
    <span class="span-gear" (click)="goToMenu()">
      <i class="bi bi-gear-fill"></i>
    </span>
  </div>
  <div class="feedback-buttons">
    <button (click)="getFeedback('otimo')" class="feedback-button-card card-green shine">
      <div class="image-container">
        <img class="happy-emoji" src="../../../assets/emojis/happy_cut.png" alt="">
      </div>
      <p>ÓTIMO</p>
    </button>
    <button (click)="getFeedback('bom')" class="feedback-button-card card-blue shine">
      <div class="image-container">
        <img src="../../../assets/emojis/feliz.png" alt="">
      </div>
      <p>BOM</p>
    </button>
    <button (click)="getFeedback('regular')" class="feedback-button-card card-orange shine">
      <div class="image-container">
        <img src="../../../assets/emojis/confused.png" alt="">
      </div>
      <p>REGULAR</p>
    </button>
    <button (click)="getFeedback('ruim')" class="feedback-button-card card-red shine">
      <div class="image-container">
        <img src="../../../assets/emojis/sad.png" alt="">
      </div>
      <p>RUIM</p>
    </button>
  </div>
</section>