<section>
  <div class="title">
    <h1>{{refeicao}}</h1>
  </div>
  <div class="feedback-buttons">
    <button class="feedback-card card-green">
      <div>
        <img class="happy-emoji" src="../../../assets/emojis/happy_cut.png" alt="">
      </div>
      <p>ÓTIMO</p>
    </button>
    <button class="feedback-card card-blue">
      <div>
        <img src="../../../assets/emojis/feliz.png" alt="">
      </div>
      <p>BOM</p>
    </button>
    <button class="feedback-card card-orange">
      <div>
        <img src="../../../assets/emojis/confused.png" alt="">
      </div>
      <p>REGULAR</p>
    </button>
    <button class="feedback-card card-red">
      <div>
        <img src="../../../assets/emojis/sad.png" alt="">
      </div>
      <p>RUIM</p>
    </button>
  </div>
</section>