<div *ngIf="motivoAvaliacaoService.visibility" class={{motivoAvaliacaoService.classe}}>
  <button (click)="fecharPopUp()" class="button btn-fechar">X</button>
  <ul>
    <li class="motivo-item" *ngFor="let avaliacao_motivo of avaliacaoMotivos">
      <span id="motivo_{{avaliacao_motivo.ream_id}}" (click)="selecionarMotivo(avaliacao_motivo)" >{{ avaliacao_motivo.ream_motivo }}</span>
    </li>
  </ul>
  <div class="acao">
    <button (click)="enviarMotivos()" class="button botao-confirmar {{enviandoMotivos ? 'disabled' : ''}}">
      <span *ngIf="enviandoMotivos else confirmar" class="loader"></span>
      <ng-template #confirmar>
        Confirmar
      </ng-template>
    </button>
  </div>
</div>