section {
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 50px;

  flex-direction: column;

  align-items: center;
  justify-content: center;

  button.button {
    max-width: 100px;
  }

  .grafico-container {

    h1 {
      font-size: 2rem;
      text-align: center;
      color: #FFF;
      margin-bottom: 10px;
      width: 100%;
    }

    margin-top: 20px;
    width: 700px;
    height: 400px;

    @media (max-height: 470px) {
      margin: 0;
      width: 100%;
      height: 100%;
      padding: 30px;
    }
  }

  .avaliacao-container {
    display: flex;
    gap: 40px;
  }

  .grafico-avaliacao {
    width: 700px;
    height: 300px;
    margin: 10px;
  }

  .absolute {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 5;
  }

  @media (max-height: 470px) {
    align-items: flex-start;
  }
}