/* You can add global styles to this file, and also import other style files */
:root {
  --bg-primary: #4b5d6b;
  --bg-green: #1AAE9E;
  --bg-green-200: #5abcb3;
  --bg-green-alpha: rgba(26, 174, 159, 0.9);
  --bg-orange: #E88439;
  --bg-orange-200: #e3985f;
  --bg-blue: #2C89D9;
  --bg-blue-200: #649fd3;
  --bg-red: #D3455D;
  --bg-red-200: #c65c6d;
  --card-green: var(--bg-green);
  --card-blue: var(--bg-blue);
  --card-orange: var(--bg-orange);
  --card-red: var(--bg-red);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-primary);

  @media (pointer: coarse) {
    padding: 2rem 0;
  }

  //max-height(412px) {}
  //max-height(290px) {}
}

.card-green {
  background-color: var(--card-green);
  transition: all 0.2s ease-in-out;
}
.card-orange {
  background-color: var(--card-orange);
  transition: all 0.2s ease-in-out;
}
.card-blue {
  background-color: var(--card-blue);
  transition: all 0.2s ease-in-out;
}

.card-red {
  background-color: var(--card-red);
  transition: all 0.2s ease-in-out;
}

/* CARD ACTIVE */

.card-green.shine:active {
  background-color: var(--bg-green-200);
  box-shadow: 0 0 5px var(--bg-green-200);
}
.card-orange.shine:active {
  background-color: var(--bg-orange-200);
  box-shadow: 0 0 5px var(--bg-orange-200);
}
.card-blue.shine:active {
  background-color: var(--bg-blue-200);
  box-shadow: 0 0 5px var(--bg-blue-200);
}

.card-red.shine:active {
  background-color: var(--bg-red-200);
  box-shadow: 0 0 5px var(--bg-red-200);
}

/*  CARD FOCUS */

.card-green.shine:focus {
}
.card-orange.shine:focus {
}
.card-blue.shine:focus {
}

.card-red.shine:focus {
}

.card {

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 60px;
  border-radius: 50px;

  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);

  p {
    font-weight: 600;
    color: #FFF;
  }
}

.button {
  border-radius: 50px;
  border: none;
  outline: none;

  color: #FFF;
  font-size: 1.1rem;
  font-weight: 600;

  width: 100%;
  max-width: 100px;
  height: 40px;

  transition: all 0.2s ease-in-out;
}

.btn-blue {
  background-color: var(--bg-blue);
}

.btn-blue:active {
  background-color: var(--bg-blue-200);
}

.btn-blue:focus {
  box-shadow: 0 0 5px var(--bg-blue-200);
}

.btn-green {
  background-color: var(--bg-green);
}

.btn-green:active {
  background-color: var(--bg-green-200);
}

.btn-green:focus {
  box-shadow: 0 0 5px var(--bg-green-200);
}

.btn-orange {
  background-color: var(--bg-orange);
}

.btn-orange:active {
  background-color: var(--bg-orange-200);
}

.btn-orange:focus {
  box-shadow: 0 0 5px var(--bg-orange-200);
}

.w-100 {
  max-width: none;
  min-width: 100%;
}

.h-100 {
  max-width: none;
  min-height: 100%;
}

.p-0 {
  padding: 0;
}