<app-motivo-avaliacao></app-motivo-avaliacao>
<div *ngIf="loadingMotivos" class="background-disable">
  <div class="loader-row">
    <span class="loading"></span>
  </div>
</div>
<section id="section-feedback">
  <div class="title">
    <h1>{{ title }}</h1>
    <span class="span-gear" (click)="goToMenu()">
      <i class="bi bi-gear-fill"></i>
    </span>
  </div>
  <div id="feedback-buttons" class="feedback-buttons">
    <button (click)="submitFeedback('otimo')" 
      [ngClass]="{'feedback-button-card card-green shine': true, 'disabled': !store.avaliacaoHabilitada}"
    >
      <div class="image-container">
        <img class="happy-emoji" src="./assets/emojis/happy_cut.png" alt="super-feliz">
      </div>
      <p>ÓTIMO</p>
    </button>
    <button (click)="submitFeedback('bom')" 
      [ngClass]="{'feedback-button-card card-blue shine': true, 'disabled': !store.avaliacaoHabilitada}"
    >
      <div class="image-container">
        <img src="./assets/emojis/feliz.png" alt="feliz">
      </div>
      <p>BOM</p>
    </button>
    <button (click)="submitFeedback('regular')" 
      [ngClass]="{'feedback-button-card card-red shine': true, 'disabled': !store.avaliacaoHabilitada}"
    >
      <div class="image-container">
        <img src="./assets/emojis/sad.png" alt="triste">
      </div>
      <p>REGULAR</p>
    </button>
  </div>
</section>