<app-motivo-avaliacao></app-motivo-avaliacao>
<div *ngIf="loadingMotivos" class="background-disable">
  <div class="loader-row">
    <span class="loading"></span>
  </div>
</div>
<section id="section-feedback">
  <span class="span-gear" (click)="goToMenu()">
    <img src="./assets/icons/gear-fill.svg">
  </span>
  <div class="title">
    <h1>{{ title }}</h1>
  </div>
  <div id="feedback-buttons" class="feedback-buttons">
    <button (click)="submitFeedback('otimo')" 
      class="feedback-button-card card-green shine"
    >
      <div class="image-container">
        <img class="happy-emoji" src="./assets/emojis/happy_cut.png" alt="super-feliz">
      </div>
      <p>ÓTIMO</p>
    </button>
    <button (click)="submitFeedback('bom')" 
      class="feedback-button-card card-blue shine"
    >
      <div class="image-container">
        <img src="./assets/emojis/feliz.png" alt="feliz">
      </div>
      <p>BOM</p>
    </button>
    <button (click)="submitFeedback('regular')" 
      class="feedback-button-card card-red shine"
    >
      <div class="image-container">
        <img src="./assets/emojis/sad.png" alt="triste">
      </div>
      <p>REGULAR</p>
    </button>
  </div>
</section>