.background-disable {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
}

section {
  
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  padding: 0 20px;
  padding-bottom: 50px;

  color: #FFF;


  .title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100px;
    margin: 100px 0 50px;

    h1 {
      position: absolute;
  
      text-transform: uppercase;
      font-size: 3em;

      @media (max-width: 700px) {
        font-size: 2rem;
      }

      @media (max-height: 460px) {
        font-size: 1.1em;
      }
    }

    @media (min-height: 750px) and (min-width: 1025px) {
      margin: 5em 0;
    }

    @media (max-height: 460px) {
      margin: 0;
    }
  }

  .feedback-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    button {
      margin: 0 1.5em;
    }
  }
}

.feedback-button-card {

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.1em;

  border: none;
  outline: none;
  color: #FFF;
  
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  width: 202px;
  height: 269px;

  cursor: pointer;

  user-select: none;

  .image-container {
    user-select: none;
  }

  &.disabled {
    opacity: 0.5;
  }

  p {
    margin-top: 20px;
  }

  img {
    width: 80px;
    user-select: none;
    @media (max-height: 460px) {
      width: 40px;
      user-select: none;
    }
  }
  
  @media (max-width: 995px) {
    width: 138px;
    height: 179px;
  }

  @media (max-height: 460px) {
    width: 102px;
    height: 129px;
    // gap: 10px;
  }
}

.span-gear {
  display: block;
  opacity: 0.02;
  font-size: 2em;
  position: absolute;
  right: -30px;
}

.loader-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loading {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loading::before , .loading::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}
.loading::after{
  border-color: #007bff;
  animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}